<a name="top"></a>
<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= title %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <ul class="navbar-nav mr-auto mb-2 mb-md-0">

        <% navigation.forEach(function(entry){ %>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="<%= entry.href %>"><i class="bi bi-<%= entry.icon %> align-text-bottom text-warning"></i> <%= entry.name %></a>
          </li>
        <% }) %>

      </ul>

    </div>
  </div>
</nav>
